body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image-container {
    float: right; /* Float the container to the right */
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 60px; /* Add some space between the table and the image */
}

/* Styling for the image within the container */
.image-container img {
    max-width: 1000px; /* Set the maximum width of the image */
    max-height: 1000px; /* Set the maximum height of the image */
}

h1 {
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 20px;
}

h5 {
    color: #f2f2f2;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

p {
    color: #f2f2f2;
    text-align: center;
}

.center-table {
    display: flex;
    justify-content: center;
}

/* Styling for the table on index.html */
#index-table {
    border-collapse: collapse;
    width: 100%; /* Set the width of the table */
    max-width: 400px; /* Limit the maximum width of the table */
    margin-top: 20px;
}

#index-table td:first-child {
    width: 35%; /* Set the width of the first column */
}

#index-table td {
    padding: 8px;
}

#index-table th {
    background-color: #333;
}

#index-table tr:nth-child(even) {
    background-color: #282828;
}

#index-table tr:hover {
    background-color: #444;
}

#index-table th,
#index-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Styling for the submit button on index.html */
.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Styling for the table on result.html */
#result-table {
    border-collapse: collapse;
    width: 50%; /* Set the width of the table */
    max-width: 400px; /* Limit the maximum width of the table */
    margin-top: 20px;
}

#result-table th,
#result-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}

#result-table th {
    background-color: #333;
}

#result-table tr:nth-child(even) {
    background-color: #282828;
}

#result-table tr:hover {
    background-color: #444;
}

.error {
    color: red;
    text-align: center;
}
